@import '../../assets/scss/variables.scss';
.showMeasurements{
    padding: 15px;
    max-width: 960px;
    margin: 0 auto 30px;
    border-radius: 10px;
    h2{
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__row{
        display: flex;
        gap: 16px;
        @include max-screen($tablet) {
            width: 900px;
         }
    }
    &__col{
        width: calc(50% - 8px);
      padding: 10px;
    }
}